header{
	max-width: 100%;
	height: 130px;
	left: 0px;
	top: 0px;
	background: #B6B0F8;
}
.title{
	position: absolute;
	width: 821px;
	height: 128px;
	left: 43px;
	top: 6px;
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 350;
	font-size: 86px;
	line-height: 128px;
	color: #000;
}