.login-container {
   box-sizing: border-box;
   background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 373px 149px rgba(0, 0, 0, 0.01), 0px 210px 126px rgba(0, 0, 0, 0.05), 0px 93px 93px rgba(0, 0, 0, 0.09), 0px 23px 51px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 29px;
    position: absolute;
    width: 750px;
    height: 480px;
    top: 100px;
    margin-left: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;z
}
.pypy{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center
}
.form-group {
    font-family: Segoe UI;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-start;
    color: #000000;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #000;
}
.pole{
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 17px;
}
.btn{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 59px 24px rgba(0, 0, 0, 0.01), 0px 33px 20px rgba(0, 0, 0, 0.05), 0px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    position: fixed;
    bottom: 150px;
    left: 570px;
}
.btn:hover{
    background: #B6B0F8;
    border: 2px solid #000000;
    box-shadow: 0px 59px 24px rgba(0, 0, 0, 0.01), 0px 33px 20px rgba(0, 0, 0, 0.05), 0px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    box-sizing: border-box;
}
.login-form1{
    position: fixed;
    top: 250px;
    left: 350px;
}
.login-form2{
    position: fixed;
    top: 250px;
    right: 400px;
}
.bb{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 5%;
}
.bb-hide{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 5%;
}
.wrapper-img:hover .bb-hide{
    opacity: 1;
    transition: all 0.5s ease-in-out;   
}
.wrapper-img .bb-hide{    
    opacity: 0;      
}
